[Desktop Entry]
Encoding=UTF-8
Name=Eurobit
Comment=Eurobit P2P Cryptocurrency
Comment[fr]=Eurobit, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eurobit, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/eurobit-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/eurobit128.png
MimeType=x-scheme-handler/eurobit;
Categories=Office;
